#bubble {
  margin-left: -70px;
  margin-top: 30px;
  background-image: url("/img/twitter.png");
}

#call-to-action {
  background-color: white;
  border-radius: 6px;
  margin-left: -15px;
  margin-top: 20px;
  padding: 15px;
  position: absolute;
  width: 320px;
}

#sunburst {
  margin-left: -630px;
  margin-top: -40px;
}
