body {
  background-color: #81AAD0;
  margin: 0;
}

#sunburst {
  background: url("/img/sunburst.png") no-repeat scroll 0 0 #81AAD0;
  height: 515px;
  margin-left: -630px;
  margin-top: -40px;
  position: absolute;
  width: 1204px;
  z-index: -1;
}

#top {
  background: url("/img/top-ridge.png") repeat-x scroll center bottom #FFF28C;
  height: 60px;
}

#top h1 {
  color: #C7BF86;
  font-family: 'Dosis';
  font-size: 2.3em;
  letter-spacing: 0;
  margin: 0 0 0 8px;
  text-shadow: 1px 1px #7A6F2F;
  text-transform: uppercase;
  display: inline-block;
}

#top h1.cursor-blink {
  font-family: monospace;
  font-size: 2.5em;
  width: .7em;
  text-align: center;
  position: absolute;
  margin: 4px 0 0 2px;
  z-index: 2;

  text-shadow: none;
  color: #888355;
}

.blink-on {
  background-color: #888355;
  color: #FFF28C !important;
}

.center-column {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

#bubble {
  background-color: #386895;
  background-image: url("/img/twitter.png");
  background-position: center center;
  border-radius: 999px;
  box-shadow: 0 0 10px white;
  height: 70px;
  margin-left: -70px;
  margin-top: 30px;
  position: absolute;
  width: 70px;
  z-index: 2;
}

#bubble-icon {
  background: url("/img/twitter.png");
  position: absolute;
  width: 70px;
  height: 70px;
  margin-left: 3px;
  margin-top: 1px;
}

#call-to-action {
  background-color: white;
  border-radius: 4px;
  margin-left: -15px;
  margin-top: 20px;
  padding: 15px;
  position: absolute;
  width: 320px;
}

#call-to-action h2 {
  color: #386895;
  font-family: 'Dosis';
  font-size: 1.7em;
  letter-spacing: 0;
  margin: 12px 0 0 12px;
  text-transform: uppercase;
}

#call-to-action p {
  margin-left: 10px;
  line-height: 1.5em;
  font-family: Arial, sans-serif;
  font-size: .98em;
  color: #5F5F5F;
}

#call-to-action a {
  color: #5F5F5F;
  font-weight: bold;
  border-bottom: 1px solid #C7BF86;
  text-decoration: none;
}

#call-to-action a:hover {
  border-bottom: 1px solid #386895;
}
