#user_code {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    right: 0px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

#opponent_code {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

#compile_button {
    position: relative;
    width: 100px;
    top: 5px;
    background-color: #cec;
    margin: auto;
    text-align: center;
    padding: 5;
}

#console {
    position: relative;
    width: 100%;
    height: 48px;
    top: 10px;
    border: 1px dashed red;
    text-align: left;
    padding: 5;
}

#timer {
    position:absolute;
    width: 40%;
    left: 30%;
    bottom: 5px;
    border:1px dashed red;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

#challenge_text {
    position:absolute;
    width: 64%;
    height: 50%;
    left: 35%;
    top: 5px;
    border:1px dashed green;
    text-align: left;
    font-size: 20px;
    overflow: auto;
}

/* sections (within containers) */

#top_section, #left_section, #right_section, #bottom_section {
    position: relative;
    height: 100%;
    width: 100%;
}

/* containers (contain sections) */

#main_container, #top_container, #left_container, #right_container, #bottom_container, #left_buttons, #right_buttons { position: absolute; overflow: hidden; }

#main_container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#top_container {
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
}

#left_container {
    top: 150px;
    left: 80px;
    bottom: 100px;
    right: 50%;
}

#right_container {
    top: 150px;
    left: 50%;
    bottom: 100px;
    right: 80px;
}

#bottom_container {
    height: 100px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#left_buttons {
    top: 150px;
    left: 0px;
    bottom: 100px;
    width: 80px;
    text-align: center;
}

#right_buttons {
    top: 150px;
    right: 0px;
    bottom: 100px;
    width: 80px;
    text-align: center;
}

/* classes */

.attack_button {
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 15px;
    background-color: silver;
}

.link {
    cursor: pointer;
}


