#user_code, #compete_code {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

#user_code { border: 2px dashed blue; }
#compete_code { border: 2px dashed red; }

#user_compile {
    position: relative;
    width: 100px;
    top: 25%;
    background-color: #cec;
    margin: auto;
    text-align: center;
    padding: 10;
}

#timer {
    position:absolute;
    width: 40%;
    left: 30%;
    bottom: 5px;
    margin: auto;
    border:1px dashed red;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

/* sections (within containers) */

#top_section, #left_section, #right_section, #bottom_section {
    position: relative;
    height: 100%;
    width: 100%;
}

/* containers (contain sections) */

#main_container, #top_container, #left_container, #right_container, #bottom_container { position: absolute; overflow: hidden; }

#main_container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#top_container {
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
}

#left_container {
    top: 20%;
    left: 0;
    height: 70%;
    width: 50%;
}

#right_container {
    top: 20%;
    left: 50%;
    height: 70%;
    width: 50%;
}

#bottom_container {
    top: 90%;
    left: 0px;
    width: 100%;
    height: 10%;
}










